%% -*- erlang -*-
[
 {moodbox, [{error_logger_mf_file, "/usr/local/moodbox-system/logs/moodbox"},
            {error_logger_mf_maxbytes, 2000000}, % 2 MB
            {error_logger_mf_maxfiles, 10},
	    {errlog_type, error}
	   ]},
 {kernel, [{gethost_poolsize, 150},
	   {error_logger, false}
          ]},
 {sasl, [
         {sasl_error_logger, false}
        ]}
].
