{% extends "base-internal.html" %}

{% block title %}Справка{% endblock %}

{% block body-internal %}
<div class="left">
	<h1>Справка</h1>
	<div class="txt">
<h3>Люди</h3>
<p>Ты можешь общаться в Рисоваське со своими друзьями тет-а-тет или сразу со всеми. <b>Общаться тет-а-тет</b> - выбираешь в списке контактов нужного человека и рисуешь ему, сообщение получает только он. <b>Общаться сразу со всеми</b> - выбираешь канал "Все друзья" и рисуешь туда, сообщение получат сразу все твои друзья.</p>
<p><a href="{% url risovaska-users %}">Поиск людей</a></p>

<h3>Каналы</h3>
<p>Канал в Рисоваське - это аналог сообщества в ЖЖ или IRC-чата. Подписавшись на канал, ты получаешь все сообщения, которые люди рисуют в него. И наоборот - все что ты нарисуешь туда получат все подписчики канала.</p>
<a href="{% url risovaska-channels %}">Список каналов</a><br>
<a href="http://community.livejournal.com/risovaska/22162.html">Правила хорошего тона</a><br>
<a href="http://community.livejournal.com/risovaska/22654.html">Создать новый канал</a><br>
<a href="http://community.livejournal.com/risovaska/21847.html">Стать модератором</a><br>

<h3>Комиксы</h3>
<p>Если вы с друзьями нарисовали что-то интересное и хотите поделиться этим с другими - публикуйте сообщения из Рисоваськи в виде комиксов. Для этого выделите сообщения в истории чата (CTRL и SHIFT для выделения нескольких сообщений) и жмите "Публиковать" - комикс будет опубликован на сайте и вы получите ссылку на него и код для вставки в блог.</p>
<p><a href="{% url risovaska-comics %}">Галерея комиксов</a></p>

<h3>Схема интерфейса</h3>
<p><b style="color:red;">Внимание!</b> Начиная с версии 1.5 (6 мая 2009) окно рисования можно отделять от главного окна - для этого потяните за верхнюю часть окна рисования.</p>
<img src="{{ MEDIA_URL }}/img/help1.jpg">

<h3>Есть еще вопросы?</h3
<p>Пиши их в <a href="{% url risovaska-feedback %}">форму обратной связи</a>, мы обязательно ответим!</p>
</div>
</div>
{% endblock body-internal %}