{% extends "base-internal.html" %}

{% block title %}Люди{% endblock %}

{% block body-internal %}
<div class="left">
	<img src="{{ MEDIA_URL }}/img/users.png" style="float: left;">
	<div class="clr"></div>
	<form method="get">
	<input type="text" class="smart" value="{{ search_text }}" name="search-text">
	<input type="hidden" name="time-type" value="{{ type_type }}">
	<input type="hidden" name="search-type" value="{{ search_type }}">
	<input type="submit" class="smart_btn" value="">
	<div id="simple_link">
		{% ifequal search_type "simple" %}
			<a href="{% url risovaska-users %}" onclick="return toggleSearch();">Больше</a>
		{% else %}
			<a href="{% url risovaska-users %}" onclick="return toggleSearch();">Меньше</a>
		{% endifequal %}
	</div>
	<div class="clr"></div>
	<div id="ssel1" {% ifequal search_type "simple" %} style="display: none;" {% endifequal %} >
	<div id="ssel2">
		<label>Страна:</label>
		<select name="country" {% ifequal search_type "simple" %} disabled="disabled" {% endifequal %} >
		{% for c in countries %}
			<option value="{{ c.0 }}" {% ifequal country c.0 %} selected="selected" {% endifequal %}>
				{{ c.1 }}
			</option>
		{% endfor %}
		</select>
		<label>Город:</label>
		<input type="text" value="{{ city }}" name="city">
		<label>Пол:</label>
		<select name="sex" {% ifequal search_type "simple" %} disabled="disabled" {% endifequal %} >
		{% for s in sexes %}
			<option value="{{ s.0 }}" {% ifequal sex s.0 %} selected="selected" {% endifequal %} >
				{{ s.1 }}
			</option>
		{% endfor %}
		</select>
		<label>Возраст:</label>
		<select name="age" {% ifequal search_type "simple" %} disabled="disabled" {% endifequal %} >
		{% for a in ages %}
			<option value="{{ a.0 }}" {% ifequal age a.0 %} selected="selected" {% endifequal %} >
				{{ a.1 }}
			</option>
		{% endfor %}
		</select>
		<div class="clr"></div>
	</div></div>
	</form>
	<div class="clr"></div>
	
	{% if not search_text %}
		{% ifequal search_type "simple" %}{% include "box-datefilter.html" %}{% endifequal %}
	{% endif %}

	{% if not users %}
	<p>Пользователи не найдены.</p>
	{% else %}
		{% include "box-navigation-info.html" %}
		{% include "box-navigation-pane.html" %}
		{% for user in users %}
			{% include "box-user.html" %}
		{% endfor %}
		{% include "box-navigation-pane.html" %}
		{% include "box-navigation-info.html" %}
	{% endif %}
</div>
{% endblock body-internal %}