{% extends "base-internal.html" %}

{% block title %}Команда{% endblock %}

{% block body-internal %}
<div class="left">
	<img src="{{ MEDIA_URL }}/img/about.png">
	<div class="txt" style="padding-top:20px;">
<a href="http://vorushin.ru">Роман Ворушин</a> - автор идеи и руководитель проекта<br>
<a href="http://dimsmol.livejournal.com">Дмитрий Смолин</a> - главный серверный разработчик<br>
<a href="http://krvss.livejournal.com">Стас Кравец</a> - главный по движку рисования<br>
<a href="http://magic_tolik.livejournal.com">Анатолий Востряков</a> - разработчик всего, главный по финансам<br>
<a href="http://dmalinovsky.livejournal.com">Денис Малиновский</a> - главный по сайту и флеш-виджету<br>
<a href="http://9val.livejournal.com">Валерий Хиора</a> - главный по Мак-версии<br>
<a href="http://plachintas.livejournal.com">Андрей Плачинта</a> - разработчик клиентской части<br>

<h3 style="padding-top:15px;">Помощники и консультанты</h3>
<a href="http://mandrick.livejournal.com">Роман Мандрик</a> - работа с инвесторами, консультации по маркетингу<br>
<a href="http://haaf.livejournal.com">Павел Лебедев</a> - работа с дизайнерами, креатив, организационное развитие<br>
<a href="http://kisga.livejournal.com">Дарья Матвеева</a> - помощь в продвижении англоязычной версии<br>
<a href="http://anzy.livejournal.com">Аня Зыкова</a> - аватары<br>
<a href="mailto:be77@mail.ru">Елена Панюкова</a> - часть клипартов<br>
<a href="http://horlet.deviantart.com">Слава Комаров</a> - баннеры и неоценимый фидбек пользователя-художника<br>

<h3 style="padding-top:15px;">Дружественные компании</h3>
<a href="http://ksan.ru">Агенство интерактивного маркетинга "КСАН"</a> - офис, поддержка и дружба<br>
<a href="http://indeepop.com">Дизайн-студия Indeepop</a> - лучший в мире дизайн и иллюстрации<br>

<h3 style="padding-top:15px;">Сообщество &laquo;Друзья Рисоваськи&raquo;</h3>
<p>Хочешь потестировать самые свежие версии, поделиться идеями, помочь в развитии проекта? Подключайся к гугл-группе &laquo;Друзья Рисоваськи&raquo; - <a href="http://groups.google.com/group/risovaska2">http://groups.google.com/group/risovaska2</a></p>

<h3 style="padding-top:15px;">Контактная информация</h3>
<p>Есть предложения, вопросы, пожелания? Пишите на <a href="mailto:vorushin@risovaska.ru">vorushin@risovaska.ru</a></p>
	</div>
</div>
{% endblock body-internal %}