{% extends "base-internal.html" %}

{% block title %}Прекращение подписки на новости Рисоваськи{% endblock %}

{% block body-internal %}
<div class="left">
	{% if not success %}
	<p>Привет!</p>
	<p>Вы использовали неправильную ссылку для сброса пароля.</>
	<p>Используйте ссылку, полученную в ПОСЛЕДНЕМ письме от службы поддержки.</p>
	<br />
	<p>С уважением,<br />
	Команда Рисоваськи</p>
	{% else %}
	<p>Привет!</p>
	<p>Вы успешно отказались от наших будущих почтовых рассылок.</p>
	<br />
	<p>С уважением,<br />
	Команда Рисоваськи</p>
	{% endif %}
	<div class="clr"></div>
</div>
{% endblock body-internal %}