	<div id="dsel1a"></div>
	<div id="dsec2a" class="dseca">
		<div class="logo"><img src="{{ MEDIA_URL }}/img/win_logo_d.png"></div>
		<div class="link"><a href="{{ MEDIA_URL }}/RisovaskaSetup.exe">Скачать - Win</a>6.5 Мб, XP/Vista</div>
	</div>
	<div id="dsec1a" class="dseca">
		<div class="logo"><img src="{{ MEDIA_URL }}/img/mac_logo_d.png"></div>
		<div class="link"><a href="{{ MEDIA_URL }}/Risovaska_Mac.zip">Скачать - Mac</a>14 Мб, Mac OS X 10.5</div>
	</div>
	<div id="dsec3a" class="dseca">
        <div class="logo"><img src="{{ MEDIA_URL }}/img/linux_logo_d.png"></div>
	<div class="link"><a href="{% url risovaska-download %}">Скачать - Linux</a>12.5-13 Мб, 32-64 bit</div>
    </div>
    <div id="dsel3a"></div>

<div class="network-links">
	<div class="network-link">
		<img src="{{ MEDIA_URL }}/img/lj_community.gif">
		Рисоваська <a href="http://community.livejournal.com/risovaska">в ЖЖ</a>
	</div>
	<div class="network-link">
		<img src="{{ MEDIA_URL }}/img/vkontakte_icon.jpg">
		Рисоваська <a href="http://vkontakte.ru/club1992698">ВКонтакте</a>
	</div>
	<div class="network-link">
		<img src="{{ MEDIA_URL }}/img/risovaska_logo_16.gif">
		<a href="http://community.livejournal.com/risovaska/20909.html">Получить код баннера</a>
	</div>
</div>