<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Server Statistics</title>
</head>
<body>

<h1>Server Statistics</h1>
<br>
<!-- Here will be statistics --!>
<table>
<tr>
<td>Count of online users:</td><td>~p</td>
</tr>
<tr>
<td>Count of registered users:</td><td>~p</td>
</tr>
<tr>
<td>Count of sent messages:</td><td>~p</td>
</tr>
<tr>
<td>Count of moodstrips:</td><td>~p</td>
</tr>
</table>
<br>
<br>
<br>
<br>
&copy; 2009 MoodBox
</body>
</html>
